@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Noto+Sans+KR:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;  /* 스무스 스크롤링 */
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

a {
    text-decoration: none;
    color: #242424;
}

body {
    font-family: "Noto Sans KR", sans-serif;

}

#wrap {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;


}

.sr-only {
    position: absolute;
    /* 화면에서 제거 */
    width: 1px;
    /* 최소 너비 */
    height: 1px;
    /* 최소 높이 */
    padding: 0;
    margin: -1px;
    /* 시각적 요소 완전 제거 */
    overflow: hidden;
    /* 넘치는 부분 숨김 */
    clip: rect(0, 0, 0, 0);
    /* 보이지 않게 자름 */
    white-space: nowrap;
    /* 줄바꿈 방지 */
    border: 0;

}


header {
    width: 100%;
    min-width: 1520px;
    height: 235px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* 요소의 쌓임 순서 => 숫자가 클 수록 위로 배치 */
}

#header-wrap {
    max-width: 1520px;
    height: 235px;
    background-color: #fff;
    margin: 0 auto;
}


#header-wrap .logo {
    width: 270px;
    height: 235px;
    background-color: #fff;
    float: left;
    position: relative;
}

#header-wrap h1.logobox {
    position: absolute;
    width: 158px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

#header-wrap #nav1 {
    width: 900px;
    height: 235px;
    background-color: #fff;
    float: left;
}

#nav1 ul {
    list-style: none;
    height: 48px;
    width: auto;

    position: relative;
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav1 ul li {
    padding: 10px 50px 0 10px;
    position: relative;

}

#nav1 ul li a {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color: #000000;
}

#nav1 ul li a:hover {
    color: #1ca0eb;
}

/* 서브메뉴 */

#nav1>ul>li>ul.sub {
    display: none;
    /* 처음엔 숨김 */
    position: absolute;
    padding: 10px;
    top: 100%;
    /* 메인메뉴 바로 아래 */
    left: 0;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 100;
    height: auto;
}

#nav1>ul>li>ul.sub>li {
    font-size: 14px;
}



#nav1>ul>li:hover ul.sub {
    display: block;
}





#header_icon {
    width: 350px;
    height: 235px;
    background-color: #fff;
    float: left;
}

#header_icon ul {
    list-style: none;
    height: 80px;
    width: 80%;
    background-color: #ffffff;
    position: relative;
    top: 10%;
    left: 80%;
    transform: translate(-80%, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

#header_icon ul li {
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
}

#header_icon ul li a img:nth-child(1) {
    height: 30px;
    width: auto;
    box-sizing: border-box;
    margin-right: 20px;
    transition: all 0.3s ease;
}


#header_icon ul li a img:nth-child(n+2) {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin-right: 20px;
    transition: all 0.3s ease;
}

#header_icon ul li a img:last-child {
    margin-right: 0;
}

#header_icon ul li a img:hover {
    transform: scale(1.1);
    box-sizing: border-box;
}






/* 베너구역임 */


#mainbanner {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
    top: 235px;
}


#mainbanner #main-left {
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 600px;
    float: left;
    position: relative;
}

#mainbanner #main-left #banner-content {
    width: 760px;
    height: inherit;
    background-color: #ffffff;
    position: absolute;
    right: 0;
}

#mainbanner #main-left #banner-content #textbox {
    position: absolute;
    width: 80%;
    left: 40%;
    top: 27%;
    transform: translate(-40%, 0);
    background-color: #ffffff;

}

#mainbanner #main-left #banner-content #textbox p {
    color: #102079;
    font-size: 1.42rem;
    line-height: 70px;
    letter-spacing: -1px;

}

#mainbanner #main-left #banner-content #textbox p.ba-text1 {
    color: #0b95e6;
    font-size: 2.4rem;
}

#mainbanner #main-left #banner-content #textbox p span.h2_1 {
    font-size: 5.6rem;
    font-weight: 500;
}

#mainbanner #main-left #banner-content #textbox p span.h2_2 {
    font-weight: bold;
}

#mainbanner #main-left #banner-content #banner-buttons {
    position: absolute;
    top: 67%;
    left: 32%;
    transform: translate(-32%, 0);
    width: 600px;

}

#mainbanner #main-left #banner-content #banner-buttons ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#mainbanner #main-left #banner-content #banner-buttons ul li {
    display: block;
    width: 135px;
    padding: 15px 20px;
    background-color: #0b95e6;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1.3em;
}


#mainbanner #main-right {
    width: 50%;
    background-color: rgb(236, 245, 251);
    height: 600px;
    float: left;
    position: relative;
    box-sizing: border-box;
}


#mainbanner #main-right #bannerImg {
    width: 760px;
    height: inherit;
    background: url(../img/mainbanner.png) no-repeat;
    background-position: left top;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}



main {
    position: relative;
    top: 235px;
}



#fixmenu{
    position: fixed;
    width: 200px;
    height: auto;
    z-index: 2;
    top: 30vh;
    right: 10vh;
}
#fixmenu>ul{
    list-style: none;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

#fixmenu>ul>li{
    text-align: center;
}

#fixmenu>ul>li>a{
    min-width: 200px;
    height: 50px;
    display: block;
    background: #fff;
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 0 20px 1px #999;
    transition: all 0.3s ease;
}

#fixmenu>ul>li>a:hover{
    background: #1ca0eb;
    color: #fff;

}




#content1 {
    width: 100%;
    height: 840px;
    background-color: rgb(236, 245, 251);
    margin: 0 auto;

}

#con01wrap {
    width: 100%;
    max-width: 1520px;
    height: 840px;
    background-color: rgb(255, 135, 135);
    margin: 0 auto;

}

#con01-textbox {
    background-color: rgb(236, 245, 251);
    width: 100%;
    height: 150px;
    position: relative;
}

#con01-textbox p.con01-text {
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -1px;
    left: 100px;
    top: 50%;
    color: #102079;
}

.imgbox {
    width: 100%;
    max-width: 1520px;
    height: 690px;
    background-color: rgb(236, 245, 251);
    padding: 0 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr) 50px;
    box-sizing: border-box;
}

.imgbox>.box1 {
    width: 400px;
    height: 690px;

}


.imgbox .img01 {
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.imgbox .img01 img {
    display: block;
    margin: 0 auto;
    transform: scale(0.76);
    box-shadow: 2px 2px 20px;
    transition: transform 0.3s;
}

.imgbox .img01 .img01_text {
    position: absolute;
    bottom: 30px;
    font-size: 1.2em;
    color: #102079;
    right: 66px;

}

.imgbox>.box1>.img01_text1 {
    position: relative;
    text-align: center;
    top: 70px;
    padding: 0;
    margin: 0;
}

.imgbox>.box1>.img01_text1 a {
    /*  display: inline; */
    font-size: 1.2em;
    font-weight: 600;
    color: #242424;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 1;
    transition: transform 0.3s, color 0.3s;
}

.box1:hover .img01 img {
    transform: scale(0.72);
    box-shadow: 4px 4px 50px 1px;
}

.box1:hover .img01_text1 a {
    transform: scale(1.2);
    color: #1ca0eb;
    transition: 0.3s;
}


#con01wrap>.imgbox>.next {
    position: relative;
    top: 250px;
    /*   display: flex;
  justify-content: center;
  align-items: center; */
    font-size: 2rem;
    color: #102079;
    cursor: pointer;
}


#content2 {
    width: 100%;
    height: 840px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

#con02wrap {
    width: 100%;
    max-width: 1520px;
    height: 840px;
    background-color: rgb(255, 135, 135);
    margin: 0 auto;
}

#con02-textbox {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    position: relative;
}

#con02-textbox p.con02-text {
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -1px;
    left: 100px;
    top: 50%;
    color: #102079;
}


#con02wrap>.imgbox {
    width: 100%;
    height: 690px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr) 50px;
    box-sizing: border-box;
}

.img02 {
    width: 400px;
    height: 500px;
    background-color: rgb(227, 245, 255);
    border-radius: 50px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img02 img {
    display: block;
    transform: scale(0.58);
    box-shadow: 2px 2px 20px;
    transition: transform 0.3s;
}

.img02 .img02_text {
    position: absolute;
    bottom: 30px;
    font-size: 1.2em;
    color: #102079;
    right: 60px;

}

.img02_text1 {
    position: relative;
    text-align: center;
    top: 70px;
    padding: 0;
    margin: 0;
}

.img02_text1 a {
    font-size: 1.2em;
    font-weight: 600;
    color: #242424;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 1;
    transition: transform 0.3s, color 0.3s;

}

.box1:hover .img02 img {
    transform: scale(0.54);
    box-shadow: 4px 4px 50px 1px;
}

.box1:hover .img02_text1 a {
    transform: scale(1.2);
    color: #1ca0eb;
}


#con02wrap>.imgbox>.next {
    /* display: flex;
  justify-content: center; */
    position: relative;
    top: 250px;
    font-size: 2em;
    color: #102079;
    cursor: pointer;

}







#content3 {
    width: 100%;
    height: 1700px;
    background-color: rgb(255, 255, 255);

}

#content3 #con03_circle {
    width: 1520px;
    max-width: 1520px;
    height: 1600px;
    background: rgb(227, 245, 255);
    margin: 0 auto;
    border-radius: 50% 0 0 50%;


}

#con03_1 {
    width: 100%;
    max-width: 1520px;
    height: 750px;
    margin: 0 auto;
}

#con03_1 .con03_box {
    width: 40%;
    height: 750px;
    float: left;
    position: relative;
}

#con03_1 .con03_box>.con03_text {
    position: absolute;
    width: 360px;
    height: 50px;
    color: #1ca0eb;
    font-size: 2.4em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 27%;
    right: -50px;

}

#con03_1 .con03_box>.con03_img {
    width: 360px;
    height: 620px;
    position: absolute;
    background: url(../img/main_cs_bnr01.svg) no-repeat;
    background-position: center bottom;
    background-size: 100%;
    bottom: 50px;
    right: 0;


}

#con03_1 .textbox {
    width: 60%;
    max-width: 912px;
    height: 750px;
    float: left;
    position: relative;
}

#con03_1 .textbox>.span {
    width: 860px;
    max-width: 860px;
    height: 590px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 50px;
    right: 0;
    border-radius: 100px 0 0 100px;
    padding: 100px;
    box-sizing: border-box;
}


.textbox>span>p.q-text {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em;

}

.textbox>.span>p.a-text {
    display: block;
    margin-bottom: 35px;
    font-size: 1.1em;


}




#con03_2 {
    width: 100%;
    max-width: 1520px;
    height: 750px;
    margin: 0 auto;
}


#con03_2 .con03_box {
    width: 40%;
    height: 750px;
    float: left;
    position: relative;
}

#con03_2 .con03_box>.con03_text {
    position: absolute;
    width: 360px;
    height: 50px;
    color: #1ca0eb;
    font-size: 2.4em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    right: -50px;

}

#con03_2 .con03_box>.con03_img {
    width: 460px;
    height: 500px;
    position: absolute;
    background: url(../img/main_cs_bnr02.png) no-repeat;
    background-position: right bottom;
    background-size: 80%;
    bottom: 0;
    right: 0;

}

#con03_2 .textbox {
    max-width: 860px;
    height: 750px;
    background-color: rgb(255, 168, 168);
    float: right;
    position: relative;

}

#con03_2 .textbox>.span {
    width: 860px;
    max-width: 860px;
    height: 590px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 50px;
    right: 0;
    border-radius: 100px 0 0 100px;
    padding: 100px;
    box-sizing: border-box;
}





#content4 {
    width: 100%;
    height: 750px;
    background-color: rgb(255, 255, 255);
}

#con4 {
    width: 100%;
    max-width: 1520px;
    height: 750px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
}

#youtube iframe {
    width: 960px;
    height: 568px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%) scale(0.92);
    border-radius: 30px;
}




footer {
    width: 100%;
    height: 305px;
    background-color: rgb(227, 245, 255);
    position: relative;
    top: 235px;
}

#footerwrap {
    width: 1520px;
    height: 305px;
    background-color: rgb(252, 177, 177);
    margin: 0 auto;
}

#foot1 {
    width: 1520px;
    height: 145px;
    background-color: rgb(227, 245, 255);
    position: relative;
}

#nav2_1 {}

#nav2_1 ul {
    position: absolute;
    width: 500px;
    height: 40px;
    top: 50px;
    left: 50px;
    list-style: none;
}

#nav2_1 ul li {
    display: inline-block;
}

#nav2_1 ul li a {
    display: block;
    padding: 5px 10px;
    font-size: 1.1em;
    font-weight: 400;
    color: #444;
}




#foot1 #nav2_2 {
    width: 240px;
    height: 60px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);

}

#nav2_2 ul {
    width: 250px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;

}

#nav2_2 ul li {}

#nav2_2 ul li a {
    display: block;
    background-color: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 5px 0.2px #999;
}

#nav2_2 ul li a img {
    display: block;
    height: 20px;
    width: 20px;


}




#foot2 {
    width: 1520px;
    height: 160px;
    background-color: rgb(227, 245, 255);
    position: relative;

}

#foot2 #textbox1 {
    width: 900px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50px;
    color: #777;
}

#foot2 #textbox2 {
    width: 900px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #777;
}

#foot2 #button {
    width: 120px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    position: absolute;
    right: 50px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 5px 0.2px #999;


}

#foot2 #button a {
    display: block;
    padding: 10px;
    color: #777;

}